<h1> "El registro fue almacenado con éxito!"</h1>


<%= @sale.cod %>
<%= @sale.detail %>
<%= @sale.category %>
<%= @sale.value %>
<%= @sale.discount %>
<%= @sale.tax %>
<%= @sale.total %>

<br>
<br>

<%= link_to 'Volver', sales_new_path %>
